body{
    background-color: black;
    padding: 0px;
    margin: 0px;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;


}

header{
    background-color: #003C66;
    margin: 10px;
    padding: 30px;
    border-radius: 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

img.Logo{
    max-width: 200px;
    height: auto;
}

main{
    background-color: #dfdfdf;
    margin-top: 10px;
    padding: 20px 20px;
    border-radius: 22px;
}

h1.Welcome{
    color: #003C66;
    font-weight: 900;

    text-align: center;
}

h3.QueApetece{
    color: #006BB8;
    font-weight: 300;

    text-align: center;
}

/*div{
    background-color: #00CA7D;
    border-radius: 20px;
    border: none;

    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 50px 0px 50px 0px;
}*/

a{
    background-color: #00CA7D;
    border-radius: 20px;
    border: none;
    margin: 50px 0px 50px 0px;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-decoration: none;
    color: inherit;
}

img{
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    height: auto;
}

img.SeccionComida{
    border-radius: 0px 0px 0px 0px;
    max-width: 100%;
    height: auto;
}

p{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

p.AlertaInicio{
    background-color: #FF6F00;
    color: black;
    margin: 0px -16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;

    font-weight: 500;
    text-align: center;
}