.ImagenPortadaComida{
    border-radius: 22px;
    width: 100%;
    height: 120px; /* altura pensada para móvil */
    object-fit: cover; /* la imagen no se deforma */
    object-position: 0%;
    display: block;
}

div.AvisoIzquierda{
    border-left: 3px solid #FF6F00;
    margin-top: 30px;
    margin-left: 15px;
    padding: 0px 0px 0px 15px;
    margin-bottom: 25px;
}

div.AvisoIzquierda h3{
    color: #FF6F00;
}

div.AvisoIzquierda p{
    margin-top: -15px;
}

div.AvisoDerecha{
    border-right: 3px solid #FF6F00;
    margin-right: 15px;
    padding: 0px 15px 0px 0px;
}

.AvisoDerecha h3{
    color: #FF6F00;

    text-align: right;
}

.AvisoDerecha p{
    margin-top: -15px;

    text-align: right;
}